sempre tente chamar o mcp pra ver se realmente ele funciona.
Se tiver algum erro de compilção pode tentar resolver e só pare depois que compilar e dar certo 100%.
todas as tools do BiancaTools precisam funcionar perfeitamente.
consultar essa documentação sempre que tiver problema no MCP pode ajudar: https://modelcontextprotocol.io/
faça apenas o que eu te pedi, não é pra criar .md sem antes te pedir.