:8080 {
    # Configuração simples sem TLS
    
    # Log de requisições
    log {
        output stdout
        format console
    }

    # Redirecionar qualquer rota para o Streamlit
    handle /* {
        reverse_proxy streamlit:8501
    }
}