:8080 {
    # Configuração simples sem TLS
    
    # Log de requisições
    log {
        output stdout
        format console
    }

    # Rota para o serviço Streamlit
    handle /streamlit* {
        reverse_proxy streamlit:8501
    }
    
    # Servir arquivos estáticos para outras rotas
    handle {
        root * /app/static
        file_server
    }
}